@charset "utf-8";
body {
    padding-top: 70px;
    background-color: white;
}

#top nav {
    display: flex;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
}

#main #menu {
    width: 15%;
    background-color: red;
}

#main #body {
    position: relative;
    width: 85%;
    background-color: white;
}

#main #body #query {
    display: flex;
}

#main #body #query div {
    width: 300px;
    margin: 5px;
}

#main #body #query2 {
    display: flex;
}

#main #body #query2 div {
    width: 300px;
    margin: 5px;
}

#main #body #query3 {
    display: flex;
}

#main #body #query3 div {
    width: 100px;
    margin: 5px;
}

#main #body #page {
    float: right;
    position: relative;
    display: flex;
    left: -45px;
}

#main #body #page nav {
    margin: 10px;
}